@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This User?</h1>
<br />
<br />

<form asp-action="Delete" enctype="multipart/form-data">
    <input hidden asp-for="Id" />

    <partial name="PartialViews/DetailsDeleteUserPartialView" />

    <input type="submit" class="btn btn-danger" value="Delete" /> |
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
</form>



