@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<br />
<br />

<div>

    <partial name="PartialViews/DetailsDeleteEmployeePartialView" />

    <a asp-action="Edit" class="btn btn-primary"> Edit </a> |
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>



