@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ForgetPassword" asp-controller="Account">
            <div asp-validation-summary="All"></div>

            <div class="form-group">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email" required="">
            </div>

@*            <button type="submit" class=" btn btn-block btn-lg bg-pink waves-effect">Reset My Password</button>
            <input type="submit" class="btn btn-block btn-lg bg-pink waves-effect" value="Send Email" />*@

@*            <div class="form-group">
                <a asp-action="Login" asp-controller="Account">Sign In!</a>
            </div>*@

            <p>Do you forget your password? <a asp-action="CompleteForgetPassword"> Reset your password</a></p>
            <p>Don't you have an Account? <a asp-action="Register"> Register Now!</a></p>
        </form>
    </div>
</div>

