@model LoginViewModel
@{
	ViewData["Title"] = "Login Page";
	Layout = "_AuthLayout";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Login">

			<div asp-validation-summary="All"></div>

			<input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
			<input class="text" type="password" asp-for="Password" placeholder="Password" required="">

			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="LOGIN">
		</form>
		<p>Don't you have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p>Do you forget your password? <a asp-action="ForgetPassword"> ForgetPassword!</a></p>
	</div>
</div>

