@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password Page";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="Token"/>
            <input class="text" type="password" asp-for="Password" placeholder="New Password" required="">
            <input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <input type="submit" value="Reset Password"> 
        </form>
    </div>
</div>

